<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Cocktail Creations</title>
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <meta content="" name="keywords">
  <meta content="" name="description">

  <!-- Favicons -->
  <link href="img/cocktail.png" rel="icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i|Raleway:300,400,500,700,800|Montserrat:300,400,700" rel="stylesheet">

  <!-- Bootstrap CSS File -->
  <link href="lib/bootstrap/css/bootstrap.min.css" rel="stylesheet">

  <!-- Libraries CSS Files -->
  <link href="lib/font-awesome/css/font-awesome.min.css" rel="stylesheet">
  <link href="lib/animate/animate.min.css" rel="stylesheet">
  <link href="lib/ionicons/css/ionicons.min.css" rel="stylesheet">
  <link href="lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">
  <link href="lib/magnific-popup/magnific-popup.css" rel="stylesheet">
  <link href="lib/ionicons/css/ionicons.min.css" rel="stylesheet">

  <!-- Main Stylesheet File -->
  <link href="css/style.css" rel="stylesheet">

</head>

<body id="body">

  <!--==========================
    Header
  ============================-->
  <header id="header">
    <div class="container">

      <div id="logo" class="pull-left">
        <h1><a href="#body" class="scrollto"><span>Cock</span>tail Creations</a></h1>
        <!-- Uncomment below if you prefer to use an image logo -->
        <!-- <a href="#body"><img src="img/logo.png" alt="" title="" /></a> -->
      </div>

      <nav id="nav-menu-container">
        <ul class="nav-menu">
          <li class="menu-active"><a href="#body">Home</a></li>
          <li><a href="#name">Your Name</a></li>
          <li><a href="#more">Tell me More</a></li>
          <li><a href="#color">Choose a Color</a></li>
          <li><a href="#submit">Submit</a></li>
          <li><a href="index.html">Go Back</a></li> 
        </ul>
      </nav><!-- #nav-menu-container -->
    </div>
  </header><!-- #header -->

  <!------------------------------
    Click ya name
  -------------------------------->
  <section id="name" class="wow fadeInUp">
    <div class="container">
      <div class="section-header">
        <h2>Click Your Name</h2>
        <div class="name-container">

          <a href="#" class="button type--C" id="kassies-button">
            <div class="button__line"></div>
            <div class="button__line"></div>
            <span class="button__text">Kassie</span>
            <div class="button__drow1"></div>
            <div class="button__drow2"></div>
          </a>
            <a href="#" class="button type--C" id="yessenias-button">
            <div class="button__line"></div>
            <div class="button__line"></div>
            <span class="button__text">Yessenia</span>
            <div class="button__drow1"></div>
            <div class="button__drow2"></div>
          </a>
          <a href="#" class="button type--C" id="almasas-button">
            <div class="button__line"></div>
            <div class="button__line"></div>
            <span class="button__text">Almasa</span>
            <div class="button__drow1"></div>
            <div class="button__drow2"></div>
          </a>
            <a href="#" class="button type--C" id="amandas-button">
            <div class="button__line"></div>
            <div class="button__line"></div>
            <span class="button__text">Amanda</span>
            <div class="button__drow1"></div>
            <div class="button__drow2"></div>
          </a>
          <a href="#" class="button type--C" id="kates-button">
            <div class="button__line"></div>
            <div class="button__line"></div>
            <span class="button__text">Kate</span>
            <div class="button__drow1"></div>
            <div class="button__drow2"></div>
          </a>
          <a href="#" class="button type--C" id="kimberlys-button">
            <div class="button__line"></div>
            <div class="button__line"></div>
            <span class="button__text">Kimberly</span>
            <div class="button__drow1"></div>
            <div class="button__drow2"></div>
          </a>
          <!-- <a href="#" class="button type--C" id="marianas-button">
            <div class="button__line"></div>
            <div class="button__line"></div>
            <span class="button__text">Mariana</span>
            <div class="button__drow1"></div>
            <div class="button__drow2"></div>
          </a> -->
          <a href="#" class="button type--C" id="yuris-button">
            <div class="button__line"></div>
            <div class="button__line"></div>
            <span class="button__text">Yuri</span>
            <div class="button__drow1"></div>
            <div class="button__drow2"></div>
          </a>
          <a href="#" class="button type--C" id="lilys-button">
            <div class="button__line"></div>
            <div class="button__line"></div>
            <span class="button__text">Lily</span>
            <div class="button__drow1"></div>
            <div class="button__drow2"></div>
          </a>
        </div>
      </div>
    </div>
  </section>

    <!--==========================
      Tell Me More
    ============================-->
    <section id="more" class="wow fadeInUp">
      <div class="container">
        <div class="section-header">
          <h2>Give Me Details</h2>
          <div ng-app="myApp">
            <div class="a3 inp-border small-detail" ng-controller="AppCtrl" align="center">
            <textarea id="text-area-drink" ng-model="loremIpsum" ng-keyup="autoExpand($event)" placeholder="Name of your Drink"></textarea>
            </div>
          </div>
          <div ng-app="myApp">
            <div class="a3 inp-border" ng-controller="AppCtrl" align="center">
            <textarea id="text-area-thought" ng-model="loremIpsum" ng-keyup="autoExpand($event)" placeholder="Random Thoughts"></textarea>
            </div>
          </div>
        </div>
      </div>
    </section><!-- #who -->

    <!--==========================
      Our Choose a Color Section
    ============================-->
    <section id="color" class="wow fadeInUp">
      <div class="container">
        <div class="section-header">
          <h2>Choose the color for the drink you wanna make</h2>
          <p>Be sure you have the wardrobe and ingredients to commit to your chosen color creation. If you can't click it, that means someone else has already claimed that color. </p>
        </div>
      </div>

      <div class="container-fluid">
        <div class="row no-gutters">

          <div class="col-lg-3 col-md-4">
            <div class="color-item wow fadeInUp">
              <button id="blackCT-button" class="color-popup">
                <img src="img/portfolio/blackCT.jpg" alt="">
                <div class="color-overlay">
                  <div class="color-info"><h2 class="wow fadeInUp">Black Cocktail</h2></div>
                </div>
              </button>
            </div>
          </div>

          <div class="col-lg-3 col-md-4">
            <div class="color-item wow fadeInUp">
              <button id="whiteCT-button" class="color-popup">
                <img src="img/portfolio/whiteCT.jpg" alt="">
                <div class="color-overlay">
                  <div class="color-info"><h2 class="wow fadeInUp">White Drink</h2></div>
                </div>
              </button>
            </div>
          </div>

          <div class="col-lg-3 col-md-4">
            <div class="color-item wow fadeInUp">
              <button id="pinkCT-button" class="color-popup">
                <img src="img/portfolio/pinkCT.jpg" alt="">
                <div class="color-overlay">
                  <div class="color-info"><h2 class="wow fadeInUp">Pink Drink</h2></div>
                </div>
              </button>
            </div>
          </div>

          <div class="col-lg-3 col-md-4">
            <div class="color-item wow fadeInUp">
              <button id="redCT-button" class="color-popup">
                <img src="img/portfolio/redCT.jpg" alt="">
                <div class="color-overlay">
                  <div class="color-info"><h2 class="wow fadeInUp">Red Drink</h2></div>
                </div>
              </button>
            </div>
          </div>

          <div class="col-lg-3 col-md-4">
            <div class="color-item wow fadeInUp">
              <button id="orangeCT-button" class="color-popup">
                <img src="img/portfolio/orangeCT.jpg" alt="">
                <div class="color-overlay">
                  <div class="color-info"><h2 class="wow fadeInUp">Orange Drink</h2></div>
                </div>
              </button>
            </div>
          </div>

          <div class="col-lg-3 col-md-4">
            <div class="color-item wow fadeInUp">
              <button id="yellowCT-button" class="color-popup">
                <img src="img/portfolio/yellowCT.jpg" alt="">
                <div class="color-overlay">
                  <div class="color-info"><h2 class="wow fadeInUp">Yellow Drink</h2></div>
                </div>
              </button>
            </div>
          </div>

          <div class="col-lg-3 col-md-4">
            <div class="color-item wow fadeInUp">
              <button id="greenCT-button" class="color-popup">
                <img src="img/portfolio/greenCT.jpg" alt="">
                <div class="color-overlay">
                  <div class="color-info"><h2 class="wow fadeInUp">Green Drink</h2></div>
                </div>
              </button>
            </div>
          </div>

          <div class="col-lg-3 col-md-4">
            <div class="color-item wow fadeInUp">
              <button id="blueCT-button" class="color-popup">
                <img src="img/portfolio/blueCT.jpg" alt="">
                <div class="color-overlay">
                  <div class="color-info"><h2 class="wow fadeInUp">Blue Drink</h2></div>
                </div>
              </button>
            </div>
          </div>

          <div class="col-lg-3 col-md-4">
            <div class="color-item wow fadeInUp">
              <button id="purpleCT-button" class="color-popup">
                <img src="img/portfolio/purpleCT.jpg" alt="">
                <div class="color-overlay">
                  <div class="color-info"><h2 class="wow fadeInUp">Purple Drink</h2></div>
                </div>
              </button>
            </div>
          </div>

        </div>
      </div>
    </section><!-- #color -->

  <!------------------------------
    Submit Button
  -------------------------------->
  <section id="submit" class="wow fadeInUp">
    <div class="container">
      <div class="section-header">
        <div class="name-container">
          <a href="#" class="button type--C" id="submit-button">
            <div class="button__line"></div>
            <div class="button__line"></div>
            <span class="button__text">Submit</span>
            <div class="button__drow1"></div>
            <div class="button__drow2"></div>
          </a>
        </div>
      </div>
    </div>
  </section><!-- #submit -->

  </main>

  <a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>

  <!-- JavaScript Libraries -->
  <script src="lib/jquery/jquery.min.js"></script>
  <script src="lib/jquery/jquery-migrate.min.js"></script>
  <script src="lib/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="lib/easing/easing.min.js"></script>
  <script src="lib/superfish/hoverIntent.js"></script>
  <script src="lib/superfish/superfish.min.js"></script>
  <script src="lib/wow/wow.min.js"></script>
  <script src="lib/owlcarousel/owl.carousel.min.js"></script>
  <script src="lib/magnific-popup/magnific-popup.min.js"></script>
  <script src="lib/sticky/sticky.js"></script>

  <!-- Template Main Javascript File -->
  <script src="js/main.js"></script>
  <script src="js/colors.js"></script>
  <script src="js/bartenders.js"></script>

</body>
</html>
